AZURE_CLIENT_ID={{ coinservice_azure_client_id }}
AZURE_CLIENT_SECRET={{ coinservice_azure_client_secret }}
AZURE_TENANT_ID={{ coinservice_azure_tenant_id }}
SPRING_PROFILES_ACTIVE={{ coinservice_environment }}
SERVER_ADDRESS={{ ansible_host }}
